*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    /* color: #333; */
    background-color: #f9f9f9;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem 0 1rem;
    box-shadow: 0  2px 4px rgba(0, 0, 0, .2);
    z-index: 3;
}

.header .back{
    cursor: pointer;
}

.header .header-title{
    font-weight: bold;
}

.header__menu-btn{
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* POPUP ALERT */
.popup-alert-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-alert{
    text-align: center;
    background-color: #FF5252;
    padding: 15px;
    color: #fff;
    width: 530px;
    border-radius: 5px;
    transform: scale(0);
    position: fixed;
    top: 5px;
    transition: .3s ease-in-out;
    z-index: 3;
}

.popup-alert.active{
    transform: scale(1);
}

/* SUB-HEADER */
.sub-header{
    padding-top: 8vh;
    background-color: #e88b8b;
    display: flex;
    align-items: center;
}

.sub-header .first-step{
    width: 33vw;
    height: 30px;
    background-color: red;
}

.sub-header .second-step{
    width: 33vw;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.sub-header .third-step{
    width: 34vw;
    height: 30px;
}

/* ANIMAÇÃO DO MENU */
.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .2);
    transition: right .3s ease-in-out;
    z-index: 1000;
}

.sidebar.active{
    right: 0;
}

.sidebar__nav div:first-of-type{
    border-right: 4px solid #ff0000;
    border-bottom: 2px solid #ddd;
    padding-right: 1.5rem;
    text-align: right;
}

.sidebar__nav a{
    display: block;
    padding: 1em .5rem .75rem .5rem;
    text-align: right;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.sidebar__nav a span{
    opacity: 0;
    transition: .3s;
}

.sidebar__nav div > a{
    border-bottom: none;
}

.sidebar__nav .link-inicio{
    padding: 2rem 1.5rem 1.5rem 0;
    font-size: 1.3rem;
    text-align: right;
}


.sidebar__nav .link-pizza:hover,
.sidebar__nav .link-acai:hover,
.sidebar__nav .link-lanche:hover,
.sidebar__nav .link-porcao:hover,
.sidebar__nav .link-pirao:hover,
.sidebar__nav .link-bebida:hover{
    padding-right: 1.5rem;
}


.sidebar__nav .link-pizza:hover span,
.sidebar__nav .link-acai:hover span,
.sidebar__nav .link-lanche:hover span,
.sidebar__nav .link-porcao:hover span,
.sidebar__nav .link-pirao:hover span,
.sidebar__nav .link-bebida:hover span{
    padding-right: 1rem;
    opacity: 1;
}

/* SUBMENU */
.menu-item{
    position: relative;
}

.submenu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: max-content;
    z-index: 10;
    display: none;
    transition: .3s ease-out;
}

.menu-item:hover .submenu{
    display: block;
    right: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.submenu li{
    padding: 8px 12px;
    cursor: pointer;
    transition: .3s ease-out;
    border-radius: 5px;
}

.submenu li:hover{
    background-color: #d3d3d3;
    transform: translateX(-10px)
}

/* OVERLAY */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    transition: 1s;
    z-index: 900;
}

.overlay.active{
    display: block;
}

/* MAIN */
main{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-container{
    line-height: 25px;
    text-align: center;
}

main .subtitle{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.min-max-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#flavors-list{
    padding-bottom: 10vh;
}

.item{
    background-color: #f0f0f0;
    box-shadow: 2px 2px 4px;
    padding: 20px 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    border: 2px solid;
}

.item .flavor small{
    color: #808080;
}

.item .quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-weight: bold;
}

.item .quantity button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
}

.continue{
    position: fixed;
    width: 99%;
    bottom: 1px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-out;
}

.continue:active{
    transform: scale(.98);
}