body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to right,
        #000 0%, #006400 30%,
        #fff 33%, #fff 63%,
        red 70%, #000 100%
    );
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    box-shadow: 0  2px 4px rgba(0, 0, 0, .8);
    z-index: 3;
}

.header .back,
.header .logout{
    cursor: pointer;
    font-size: 1.3rem;

    @media(max-width: 768px){
      font-size: 1rem;
    }
}

.header .header-title{
    font-weight: 500;
    color: #000;
    font-size: 2rem;

    @media(max-width: 768px){
      font-size: 1.5rem;
    }
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin-top: 10vh;
  width: 100%;
}

.profile-header h2 {
  margin-bottom: 40px;
  font-size: 1.4rem;
  color: #333;
}

.profile-card {
  background: rgba(169, 169, 169, .3);
  border-radius: 16px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0, .3);
}

.profile-info {
  margin-top: 15px;
}

.profile-info h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: green; /* cor destaque */
}

.profile-info p {
  margin: 5px 0;
  color: #444;
  font-size: 1rem;
}

.edit-btn {
  margin-top: 10px;
  background: red;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.3s ease;
}

/* MAIN CONTAINER */
.profile h2{
  padding-top: 3vh;
  text-align: center;
}

#main-container{
    max-height: 400px;
    overflow-y: auto;
}

.item-container{
    padding: 10px;
    box-shadow: 2px 2px 4px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 98%;

    @media(max-width: 768px){
      width: 95%;
    }
}

.product{
  line-height: 23px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.items-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;  
}
/* ============== */
.delete-user{
  background: red;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.delete-user:hover,
.edit-btn:hover {
  box-shadow: 0 0 8px black;
}

.delete-user:active,
.edit-btn:active{
    transform: scale(.9);
}
