@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

/* HEADER */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem 0 1rem;
    box-shadow: 0  2px 4px rgba(0, 0, 0, .2);
    z-index: 3;
}

.header .header__menu-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo img{
    height: 32px;
}

.header__menu-btn,
.header__search-btn{
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.header__menu-btn{
    font-size: 20px;
}

/* INICIO */
.inicio{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.inicio .alert{
    background-color: #F85556;
    font-size: 13px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
    display: none;
}

.entrega-retirada i,
.inicio .horarios i{
    color: #808080;
}

.entrega-retirada{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.entrega, .retirada{
    display: flex;
    align-items: center;
    gap: 10px;
}

.entrega span, 
.retirada span,
.inicio .horarios span{
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.inicio .horarios span{
    cursor: pointer;
}

/* CORPO DA PÁGINA */
.main-content{
    margin-top: 50px;
    padding: 0 0 50px 0;
}

.main-content section h2{
    margin-top: 50px;
    color: #808080;
}

.carousel-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.nav-btn{
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    transition: background 0.2s;
}

.nav-btn:hover{
    background-color: #d3d3d3;
}

.main-content .menu-container{
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    gap: 15px;
    scrollbar-width: none;
}

.main-content .menu-container::-webkit-scrollbar{
    display: none;
}

.menu-container .card{
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px #808080;
    border-radius: 8px;
    min-width: 200px;
    text-align: center;
    flex-shrink: 0;
    margin: 5px;
    cursor: pointer;
}

.menu-container .card::before{
    content: '';
    position: absolute;
    top: var(--ripple-y, 50%);
    left: var(--ripple-x, 50%);
    border-radius: 50%;
    transform: scale(0);
    background-color: rgba(128, 128, 128, .6);
    width: 100px;
    height: 100px;
    opacity: 0;
    pointer-events: none;
    transition: transform .5s ease, opacity .5s ease;

}

.menu-container .card.effect::before{
    transform: scale(5);
    opacity: 1;
}

.card img{
    width: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-content .card-title{
    margin: 5px;
}

.card .card-content .card-desc{
    font-size: 15px;
    padding-top: 10px;
    margin: 5px;
}

.card .card-content .card-price{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: #4DAF50;
}

/* RODAPÉ */
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding: 25px 0 40px;
    background-color: #1E1E1E;
    color: #fff;
}

.top-footer-icons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.local{
    text-align: center;
    line-height: 30px;
}

.address .author span{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.copyrights span{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.button{
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 8px;
    padding: 5px 10px;
    font-weight: bold;
    transition: .5s;
}

.button:hover{
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 8px #000;
}

