/*====== CABEÇALHO ====== */
@media(max-width: 500px){
    .header{
        font-size: 13px;
    }
}

@media(max-width: 400px){
    .header{
        font-size: 10px;
    }

    .footer-content .shop-btn{
        text-align: center;
        max-width: 100px;
    }
}
/* ======POUPUP-ALERT====== */

/* CORPO DA PÁGINA 1 */
@media(max-width: 520px){
    .footer-btn-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content .shop-btn{
        font-size: 13px;
        padding: 7px 7vw;
    }
}
/* ========FOOTER=========== */
@media(max-width: 530px){
    .footer-content .shop-btn{
        font-size: 10px;
        padding: 7px 7vw;
    }
}
@media(max-width: 310px){
    .footer-content .shop-btn{
        font-size: 10px;
        padding: 7px 7vw;
    }
}


